.generic-button.delete-button {
    color: red;
    border: 2px solid red;
}

.delete-button-container {
    display: flex;
    justify-content: center;
}

.patient-details-page {
    .page-with-form-mixin();
}