.hidden {
  display: none !important;
}
.search-results {
  position: relative;
}
.search-results ul {
  position: absolute;
  background: white;
  list-style: none;
  margin-right: 4em;
}
.search-results ul a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  min-width: 300px;
}
.search-results ul a:hover {
  background: black;
  color: white;
}
.search-form {
  min-width: 300px;
}
.search-form label,
.search-form input {
  width: 100%;
  font-size: 1.2em;
}
.search-form input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
.patient-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  padding: 4% 10%;
}
.patient-list a {
  width: 25%;
  text-align: center;
  margin: 2em 0;
  border: 2px solid black;
  transition: transform 0.2s ease;
  padding: 1em;
  overflow: hidden;
}
.patient-list a:hover {
  transform: translateY(-10px);
  box-shadow: 5px 5px 5px #c7c1c1;
}
@media only screen and (max-device-width: 1200px) {
  .patient-list a {
    width: 40%;
  }
}
@media only screen and (max-device-width: 700px) {
  .patient-list a {
    width: 75%;
  }
}
body {
  background: white;
  font-family: 'Roboto', sans-serif;
  padding: 1em;
}
a {
  color: black;
  text-decoration: none;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
