@background-color: white;
@text-color : black;
@background-shadow : #c7c1c1;
@import "../components/SearchResults/SearchResults.less";
@import "../components/GenericForm/SearchForm.less";
@import "../components/GenericList/PatientList.less";

body {
    background : @background-color;
    font-family: 'Roboto', sans-serif;
    padding: 1em;
}

a {
    color: @text-color;
    text-decoration: none;
    
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center
}