@background-color: white;
@text-color : black;
@import "../components/SearchResults/SearchResults.less";
@import "../components/SearchForm/SearchForm.less";

body {
    background : @background-color;
    font-family: 'Roboto', sans-serif;
}

a {
    color: @text-color;
    text-decoration: none;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center
}